*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

header{
     backdrop-filter: blur(200px);
     background: rgb(31, 31, 31);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(23, 24, 24);
    z-index: 999999;
    height: 85px;
    .container{
        .header-container{
            .header-navbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                ul{
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    list-style: none;
                     a{
                       text-decoration: none;
                         font-weight: 600;
                        font-size: 16px;
                         line-height: 100%;
                        letter-spacing: 0%;
                        color: #ffff;
                    }
                    a:hover{
                        color: blue;
                    }
                }

               button {
                    position: relative;
                    overflow: hidden;
                    transform: translateZ(0);
                    display: grid;
                    place-items: center;
                    height: 44px;
                    padding: 0 32px;
                    border: 0;
                    border-radius: 10px;
                    font-family: Poppins;
                    font-size: 18px;
                    color: #ffffff;
                    cursor: wait;
                    }

                    @keyframes loading {
                    0% {
                        transform: translateX(25px);
                    }
                    100% {
                        transform: translateX(-20px);
                    }
                    }

                    button > span {
                    position: relative;
                    z-index: 2;
                    }

                    button::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: -100%;
                    width: 300%;
                    height: 100%;
                    background:#3A68B8
                        repeating-linear-gradient(
                        60deg,
                        transparent,
                        transparent 10px,
                        #3A68B8 10px,
                        #7c9fdc 20px
                        );
                    
                    animation: loading 1s infinite linear;
                    }
            }

        }
    }
}

main{
    .section1{
        background: rgb(38, 38, 38);
        .container{
            .section1-next{
                display: flex;
                 gap: 90px;
                margin-top: 120px; 
                padding-bottom: 190px;
                .section-left{
                    margin-top: 100px;
                    .next{
                         font-weight: 600;
                        font-size: 14px;
                         line-height: 160%;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: #3A68B8;
                        margin-bottom: 10px;
                    }
                    h2{
                        font-weight: 800;
                        font-size: 55px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: white;
                        margin-bottom: 40px;
                        width: 560px;
                    }
                    .lorem{
                         font-weight: 600;
                        font-size: 18px;
                         line-height: 160%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                        margin-bottom: 50px;
                        width: 500px;
                    }
                    .get{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        button{
                            width: 171px;
                            height: 57px;
                            color: white;
                            border-radius: 5px;
                            background: #3A68B8;
                            border: none;
                             font-weight: 600;
                            font-size: 20px;
                             line-height: 100%;
                        }
                    }
                }   
                .section1-right{
                    img{
                        width: 100%;
                    }
                }   
            }
            .logo{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 60px;
                margin-bottom: 99px;
            }
        }
    }

    .section2{
        background:  rgb(0, 0, 0);
        .container{
            .section2-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 68px;
                margin-bottom: 150px;
                .section2-left{
                    margin-top: 130px;
                    img{
                        width: 100%;
                    }
                }
                .section2-right{
                    margin-top: 150px;
                    h3{
                         font-weight: 700;
                        font-size: 40px;
                         line-height: 130%;
                        letter-spacing: 0%;
                        color: #fff;
                        width: 480px;
                        margin-bottom: 30px;
                    }
                    p{
                         font-weight: 600;
                        font-size: 16px;
                         line-height: 160%;
                        letter-spacing: 0%;
                        color: #fff;
                        margin-bottom: 50px;
                        width: 440px;
                    }
                    button{
                        width: 150px;
                        height: 52px;
                        background: #3A68B8;
                        color: white;
                        border-radius: 5px;
                         font-weight: 600;
                        font-size: 16px;
                         line-height: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .section3{
        background:  rgb(0, 0, 0);
        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
                padding-bottom: 150px;
            .card{
                width: 362px;
                height: 389px;
                backdrop-filter: blur(200px);
                background: rgb(18, 14, 44);
                border-radius: 5px;
                img{
                    padding-top: 47px;
                    padding-left: 120px;
                    padding-bottom: 47px;
                }
                h4{
                    padding-left: 30px;
                    padding-right: 30px;
                     font-weight: 700;
                    font-size: 20px;
                     line-height: 125%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 30px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                     font-weight: 600;
                    font-size: 16px;
                     line-height: 160%;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 310px;
                    color: #FFFFFF;
                }
            }

            .card1{
                width: 362px;
                height: 389px;
                backdrop-filter: blur(200px);
                background: rgb(18, 14, 44);
                border-radius: 5px;
                img{
                    padding-top: 37px;
                    padding-left: 120px;
                    padding-bottom: 37px;
                }
                h4{
                    width: 300px;
                    padding-left: 30px;
                    padding-right: 30px;
                     font-weight: 700;
                    font-size: 20px;
                     line-height: 125%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                     font-weight: 600;
                    font-size: 16px;
                     line-height: 160%;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 310px;
                    color: #FFFFFF;
                }
            }

            .card2{
                width: 362px;
                height: 389px;
                backdrop-filter: blur(200px);
                background: rgb(18, 14, 44);
                border-radius: 5px;
                img{
                    padding-top: 30px;
                    padding-left: 120px;
                    padding-bottom: 30px;
                }
                h4{
                    width: 300px;
                    padding-left: 30px;
                    padding-right: 30px;
                     font-weight: 700;
                    font-size: 20px;
                     line-height: 125%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                     font-weight: 600;
                    font-size: 16px;
                     line-height: 160%;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 310px;
                    color: #FFFFFF;
                }
            }

              .card3{
                width: 362px;
                height: 389px;
                backdrop-filter: blur(200px);
                background: rgb(18, 14, 44);
                border-radius: 5px;
                img{
                    padding-top: 30px;
                    padding-left: 120px;
                    padding-bottom: 30px;
                }
                h4{
                    width: 300px;
                    padding-left: 30px;
                    padding-right: 30px;
                     font-weight: 700;
                    font-size: 20px;
                     line-height: 125%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                     font-weight: 600;
                    font-size: 16px;
                     line-height: 160%;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 310px;
                    color: #FFFFFF;
                }
            }

                .card4{
                width: 362px;
                height: 389px;
                backdrop-filter: blur(200px);
                background: rgb(18, 14, 44);
                border-radius: 5px;
                img{
                    padding-top: 30px;
                    padding-left: 120px;
                    padding-bottom: 30px;
                }
                h4{
                    width: 300px;
                    padding-left: 30px;
                    padding-right: 30px;
                     font-weight: 700;
                    font-size: 20px;
                     line-height: 125%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                     font-weight: 600;
                    font-size: 16px;
                     line-height: 160%;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 310px;
                    color: #FFFFFF;
                }
            }
        }
    }
}