* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

header {
  backdrop-filter: blur(200px);
  background: rgb(31, 31, 31);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 10px 10px 10px rgb(23, 24, 24);
  z-index: 999999;
  height: 85px;
}
header .container .header-container .header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header-container .header-navbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
header .container .header-container .header-navbar ul a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
header .container .header-container .header-navbar ul a:hover {
  color: blue;
}
header .container .header-container .header-navbar button {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  display: grid;
  place-items: center;
  height: 44px;
  padding: 0 32px;
  border: 0;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  color: #ffffff;
  cursor: wait;
}
@keyframes loading {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(-20px);
  }
}
header .container .header-container .header-navbar button > span {
  position: relative;
  z-index: 2;
}
header .container .header-container .header-navbar button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: #3A68B8 repeating-linear-gradient(60deg, transparent, transparent 10px, #3A68B8 10px, #7c9fdc 20px);
  animation: loading 1s infinite linear;
}

main .section1 {
  background: rgb(38, 38, 38);
}
main .section1 .container .section1-next {
  display: flex;
  gap: 90px;
  margin-top: 120px;
  padding-bottom: 190px;
}
main .section1 .container .section1-next .section-left {
  margin-top: 100px;
}
main .section1 .container .section1-next .section-left .next {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #3A68B8;
  margin-bottom: 10px;
}
main .section1 .container .section1-next .section-left h2 {
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 40px;
  width: 560px;
}
main .section1 .container .section1-next .section-left .lorem {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 50px;
  width: 500px;
}
main .section1 .container .section1-next .section-left .get {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .section1 .container .section1-next .section-left .get button {
  width: 171px;
  height: 57px;
  color: white;
  border-radius: 5px;
  background: #3A68B8;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
main .section1 .container .section1-next .section1-right img {
  width: 100%;
}
main .section1 .container .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 99px;
}/*# sourceMappingURL=main.css.map */